.article-content {
    a {
        color: blue;

        &:hover {
            text-decoration: underline;
        }
    }

    menu,
    ol,
    ul {
        list-style: auto;
        margin-left: 3em;
    }
}
