@import '../assets/libs/fontawesome/all.min.css';

@font-face {
    font-family: 'Bungee Spice';
    src: url('../assets/libs/webfonts/BungeeSpice-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Permanent Marker';
    src: url('../assets/libs/webfonts/PermanentMarker-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/libs/webfonts/TitilliumWeb-Regular.ttf');
    font-display: swap;
}
